.home_top_block {
  width: 100%;
  background: url(../../assets/images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px 0;
}
.hompe_page_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 80px;
}
.hompe_page_left {
  width: 100%;
  max-width: 1120px;
}
.hompe_page_right {
  width: 100%;
  max-width: 350px;
}

.forum_chat_wrapper {
  border-radius: 10.01px;
  margin-bottom: 27px;
  box-shadow: 0px 4px 20px 0px rgba(50, 94, 251, 0.25);
  background: rgb(255, 255, 255);
}

.forum_chat_title {
  border-bottom: 1px solid rgb(207, 207, 207);
  padding: 15px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  gap: 17px;
}
.forum_chat_title p {
  color: rgb(30, 79, 174);
  font-family: Open Sans;
  font-size: 15.01px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.forum_chat_line {
  background: rgb(207, 207, 207);
  width: 1px;
  height: 24.02px;
}

.forum_chat_title span {
  color: rgb(128, 128, 128);
  font-family: Open Sans;
  font-size: 15.01px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.forum_chat {
  padding-top: 11px;
  padding: 11px 11px 22px 30px;
}
.forum_chat_user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 11px;
}
.forum_chat_user_message {
  box-sizing: border-box;
  border: 1px solid rgb(225, 235, 255);
  border-radius: 0px 10px 10px 10px;
  padding: 10px 15px;

  background: rgb(244, 246, 255);
}
.forum_chat_user_message p,
.forum_chat_my_message p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15.01px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.forum_chat_me {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  margin-bottom: 11px;
}
.forum_chat_my_message {
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid rgb(141, 255, 123);
  border-radius: 10px 0px 10px 10px;

  background: rgb(237, 255, 234);
}

.forum_chat_type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}
.forum_chat_type input {
  box-sizing: border-box;
  /* button */
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  height: 40.01px;
  text-indent: 30px;
  width: 100%;
}
.forum_chat_type input::placeholder {
  color: rgb(197, 197, 197);
  font-family: Open Sans;
  font-size: 15.01px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.forum_chat_type button {
  width: 132.09px;
  height: 40.03px;
  border-radius: 3px;

  background: rgb(47, 116, 250);
  border: none;
  cursor: pointer;
}
.main_block {
  border-radius: 10.01px;
  padding: 25px;
  margin-bottom: 28px;
  box-shadow: 0px 4px 20px 0px rgba(50, 94, 251, 0.2);
  background: rgb(255, 255, 255);
}

.main_block_secondary_title p {
  color: rgb(30, 79, 174);
  font-family: Open Sans;
  font-size: 20.01px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

.online_command_item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 4px 8px;
  gap: 11px;
  background: rgb(238, 242, 255);
  margin-bottom: 16px;
}
.online_command_item p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 17.01px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}
.online_command_item span {
  color: rgb(122, 122, 122);
  font-family: Open Sans;
  font-size: 10.47px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
}
.online_command_item div {
  display: flex;
  flex-direction: column;
}

.online_command .online_command_item:last-child,
.currency_conv_item:last-child {
  margin: 0;
}
.hompe_page_right_carousel {
  margin-bottom: 28px;
}
.hompe_page_right_carousel .carousel_wrapper {
  flex-direction: column;
  width: 100%;
  padding: 32px 27px;
  gap: 10px;
}
.hompe_page_right_carousel .carousel_wrapper img {
  width: 100%;
}
.currency_conv_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.currency_conv_item div {
  padding: 6px 18px;
  width: 104px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid rgb(47, 116, 250);
  border-radius: 5px;

  background: rgb(255, 255, 255);
}
.currency_conv_item p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.hompe_page_left .main_block {
  padding: 25px 36px;
}
.main_block_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.main_block_title p {
  color: rgb(64, 64, 64);
  font-family: Open Sans;
  font-size: 19.01px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.themes_block_item {
  border-radius: 10px;
  padding: 10px 12px;
  margin-bottom: 11px;
  background: rgb(242, 245, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.themes_block_item_left {
  display: flex;
  align-items: center;
  gap: 9px;
}
.themes_block_item p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15.01px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.themes_block_item_center {
  display: flex;
  align-items: center;
  gap: 36px;
  text-align: center;
}
.themes_block_item_center span {
  color: rgb(112, 112, 112);
  font-family: Open Sans;
  font-size: 15.01px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-align: center;
}
.themes_block_item_center p {
  text-align: center;
}
.themes_block_item_right_title p {
  color: rgb(112, 112, 112);
  font-family: Open Sans;
  font-size: 15.01px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.themes_block_item_right_time p {
    color: rgb(124, 124, 124);
    font-weight: 400;
}
.themes_block_item_right_time span {
  font-family: Open Sans;
  color: rgb(47, 116, 250);
  font-size: 15px;
  font-weight: 700;
  line-height: 0px;
  letter-spacing: 0%;
  text-align: left;
}

.themes_block_item:last-child {
    margin: 0;
}
.show_hide_block {
    display: flex;
    align-items: center;
    gap: 18px;
}
.empty_main_block .main_block_title {
    margin: 0;
}