.user_modal {
  width: 431px;
  left: 42px;
  top: 14px;
  display: flex;
  align-items: start;
  gap: 8px;
  height: 200px;
  border-radius: 10px;
  z-index: 111;
  position: absolute;
  box-shadow: 0px 4px 100px 0px rgba(31, 31, 31, 0.5);
  background: rgb(47, 116, 250);
}
.user_link_r .user_modal {
  right: 42px;
  left: auto;
}
.user_modal:hover {
  display: flex;
}
.user_modal_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
}
.user_modal_left img {
  width: 109px;
  height: 109px;
  margin-bottom: 13px;
}
.user_modal_left p {
  text-align: center;
  color: rgb(66, 66, 66);
  font-family: Open Sans;
  font-size: 15px;

  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.user_modal_right {
  padding-top: 18px;
}
.user_modal_right h2 {
  color: rgb(255, 255, 255) !important;
  margin-bottom: 9px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.user_modal_right p {
  margin-bottom: 6px;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.user_modal_ignore {
  cursor: pointer;
  margin-top: 14px;
  margin-bottom: 6px;
}
.user_modal_btns {
  display: flex;
  align-items: center;
  gap: 7px;
}
.user_modal_btns button {
  padding: 5px 7px;
  height: 29px;
  border-radius: 5px;
  border: none;

  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.user_modal_btns button:first-child {
  border-radius: 5px;
  color: rgb(255, 255, 255);

  background: rgb(47, 116, 250);
}
.user_modal_btns button:last-child {
  box-sizing: border-box;
  border: 1px solid rgb(47, 116, 250);
  border-radius: 5px;
  color: rgb(47, 116, 250);
  background: transparent;
  background: rgb(255, 255, 255);
}
.user_link img {
  cursor: pointer;
}

.user_modal_line {
  border-radius: 10px;
  width: 431px;
  height: 93px;
  bottom: 0;
  position: absolute;
  background: rgb(255, 255, 255);
}
.user_modal_left,
.user_modal_right {
  position: relative;
  z-index: 111;
}
.user_modal {
  display: none;
}
.user_link:hover .user_modal {
  display: flex;
}

@media only screen and (max-width: 450px) { 
  .user_modal {
    left: 20px;
    height: auto;
    width: 230px;
   flex-direction: column;
  }
  .user_modal_line {
    width: 100%;
    height: 130px;
  }
  .user_modal_right {
    padding: 0 10px 10px;
  }
  .user_modal_left {
    width: 100%;
    padding-bottom: 0;
  }
  .user_modal
  .user_modal_left p {
    text-align: center !important;
  }
  .user_modal_right {
    width: 100%;
  }
  .user_modal_btns {
    flex-direction: column;
  }
  .user_modal_btns button {
    width: 100% !important;
    text-align: center;
  }
  .user_modal_btns a {
    width: 100%;
  }
}