.theme_top_left p {
  border-radius: 5px;
  width: 111px;
  height: 28px;
  text-align: center;
  padding-top: 4px;
  background: rgb(47, 116, 250);
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}
.theme_page .user_profile_mess {
  padding-left: 11px;
  gap: 25px;
}
.theme_top_left {
  display: flex;
  align-items: center;
  gap: 17px;
}
.theme_top_left h2 {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  font-style: italic;
}

.theme_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}
.theme_top_right button {
  width: 180px;
  border: none;
  height: 50px;

  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}

.theme_top_right {
  display: flex;
  align-items: center;
  gap: 13px;
}
.theme_top_right button:nth-child(1) {
  box-sizing: border-box;
  border: 1px solid rgb(47, 116, 250);
  border-radius: 5px;
  color: rgb(47, 116, 250);
  background: transparent;
}
.theme_top_right button:nth-child(1):hover {
  transition: all 0.4s ease;
  background: rgb(11, 83, 226);
  color: #fff;
}
.theme_top_right button:nth-child(2):hover {
  transition: all 0.4s ease;
  background: rgb(11, 83, 226);
}
.theme_top_right button:nth-child(2) {
  border-radius: 5px;
  color: rgb(255, 255, 255);
  /* Focus Color */
  background: rgb(47, 116, 250);
}

.theme_top_desc {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.theme_top_desc p {
  color: rgb(120, 120, 120);
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
}

.theme_block_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}
.theme_actions_right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.theme_actions_right p {
  color: rgb(120, 120, 120);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.theme_actions_right div {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.theme_page .user_profile_mess_right,
.theme_page .user_profile_mess_likes {
  margin: 0;
}

.theme_user_profile_actions {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: -17px;
}
.theme_user_profile_actions svg {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.theme_user_profile_username {
  color: rgb(73, 73, 73) !important;
  margin: 12px 0 8px !important;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;

  cursor: pointer;
}
.theme_user_profile h3 {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  font-style: italic;
  margin-bottom: 6px;
}
.pref_btn {
  width: 147px;
  height: 29px;
  border-radius: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  padding-top: 4px;
  /* Focus Color */
  background: rgb(47, 116, 250);
  cursor: pointer;
  margin-bottom: 12px;
}
.theme_user_profile_desc {
  width: 100%;
}

.theme_user_profile_desc div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.theme_user_profile_desc p {
  color: rgb(120, 120, 120);
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0 !important;
}
.theme_user_profile_desc span {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
}

.theme_user_profile_actions {
  position: relative;
}

@media only screen and (max-width: 700px) {
  .theme_page .user_profile_mess,
  .theme_page .user_mes_reply {
    flex-direction: column;
  }
  .theme_page .theme_user_profile {
    width: 100%;
    max-width: 100%;
  }
  .theme_page .user_mes_reply {
    align-items: start;
    gap: 17px;
  }
  .theme_page .mails_page_content_chat_input_uploads {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .theme_page
    .user_mes_reply_right
    .mails_page_content_chat_input_uploads_left {
    flex-direction: column;
    align-items: start;
  }
  .theme_top {
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .theme_top_right button {
    height: 29px;
    padding: 0 20px;
    width: auto;
  }
  .theme_top_desc {
    flex-wrap: wrap;
  }
  .theme_actions {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .themes_list_top_titles {
    flex-wrap: wrap;
    gap: 5px;
  }
}
