.information_item {
  display: flex;
  align-items: start;
  gap: 17px;
  margin-bottom: 20px;
}
.information_page .information_item:last-child {
  margin: 0;
}
.information_item_left {
  width: 333px;
}
.information_item_left p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: right;
  margin-top: 12px;
}
.information_item_right input {
  box-sizing: border-box;
  /* button */
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  width: 488px;
  height: 44px;
  text-indent: 11px;
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.profile_avatar_inf .information_item_right {
  display: flex;
  align-items: center;
  gap: 35px;
}
.profile_avatar_btn svg {
  cursor: pointer;
}
.profile_avatar_inf img {
  margin-left: 18px;
  width: 91px;
  height: 91px;
}
.profile_avatar_inf p {
  margin-top: 36px;
}
.information_item_right p {
  color: rgb(120, 120, 120);
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 2px;
}
.information_item_right textarea {
  box-sizing: border-box;
  /* button */
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  width: 488px;
  height: 164px;
  outline: none;
  padding: 12px 11px;
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.gender_select {
  display: flex;
  flex-direction: column;
}
.gender_select div {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 5px;
  margin-bottom: 10px;
}
.gender_select div input {
  box-sizing: border-box;
  /* button */
  border: 1px solid rgb(228, 228, 228);
  border-radius: 3px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.gender_select div p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.gender_select_item .information_item_left p {
  margin: 0;
}

.save_btn {
  width: 176px;
  height: 50px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(47, 116, 250);
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
}

.twopoint_auth {
  display: flex;
  align-items: center;
}
.twopoint_auth button {
  box-sizing: border-box;
  /* button */
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  padding: 8px 22px;
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  background: transparent;
}
.twopoint_auth_active {
  border: none !important;
}
.twopoint_auth_wrapper {
  align-items: center;
}
.twopoint_auth_wrapper .information_item_left p {
  margin: 0;
}

.confudency_top_item {
  display: flex;
  align-items: start;
  margin-bottom: 8px;
}
.information_item_right .confudency_top_item:nth-child(2) {
  padding-left: 25px;
}
.confudency_top_item input {
  box-sizing: border-box;
  /* button */
  border: 1px solid rgb(228, 228, 228);
  border-radius: 3px;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  margin-bottom: -4px;
}
.confudency_top_item p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.confudency_top_item span {
  color: rgb(120, 120, 120);
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.confudency_top_wrapper .information_item_left p {
  margin: 0;
}
.css-b62m3t-container {
  width: 488px;
  height: 44px;
  box-sizing: border-box;
  /* button */
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
}
.settings_profile_chex .confudency_top_item {
  display: flex;
  align-items: center;
}
.settings_profile_chex .information_item_left p {
  margin: 0;
  text-align: left;
}
.settings_profile_chex .confudency_top_item:nth-child(2) {
  padding: 0;
}
.settings_profile_chex_title p {
  padding-left: 85px;
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.settings_profile_chex .information_item_left {
  width: 370px;
  padding-left: 85px;
}
.settings_profile_chex .information_item {
  gap: 24px;
  margin-bottom: 10px;
}
.settings_profile_chex .save_btn {
  margin-top: 20px;
}

.signature_page {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.signature_page_textarea {
  box-sizing: border-box;
  /* 1 */
  border: 1px solid rgb(156, 156, 156);
  border-radius: 10px;
  width: 100%;
  height: 148px;
  border-top: 33px solid rgb(241, 241, 241);
  color: rgb(120, 120, 120);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  padding: 15px 18px;
}
.subscriptions_page_title h3 {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
  padding-left: 80px;
}
.subscriptions_page_cards {
  padding-left: 90px;
  padding-right: 140px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.subscriptions_page_card {
  display: flex;
  align-items: center;
  gap: 13px;
}
.subscriptions_page_card p:nth-child(1) {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  transition: all 0.4s ease;
  cursor: pointer;
}
.subscriptions_page_card p:hover {
  transition: all 0.4s ease;
  opacity: 0.7;
}
.subscriptions_page_card span {
  color: rgb(120, 120, 120);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.alerts_page_item {
  display: flex;
  align-items: start;
  padding-left: 80px;
  padding-right: 100px;
  gap: 15px;
  margin-bottom: 30px;
}
.alerts_page_item img {
  width: 55px;
  height: 55px;
}


.reactions_page {
  padding-left: 81px;
}
.reactions_page_title h3 {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.reactions_page_date p {
  margin-top: 17px;
  margin-bottom: 6px;
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}
.reactions_item p:nth-child(1) {
  margin-bottom: 6px;
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

@media only screen and (max-width: 1550px) {
  .profile_page_view {
    gap: 30px;
  }
  .profile_page_left {
    padding-left: 20px;
    padding-right: 20px;
  }
  .information_item_left,
  .information_item_right {
    width: 50%;
  }

  .information_item_right textarea {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .profile_page_view {
    flex-direction: column-reverse;
  }
  .information_item_left,
  .information_item_right {
    width: auto;
  }
  .information_item {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .information_item_left,
  .information_item_right,

  .information_item_right textarea {
    width: 100%;
  }
  .information_item_left p {
    text-align: left;
  }
}

@media only screen and (max-width: 800px) {
  .subscriptions_page_cards {
    padding: 0;
  }
  .subscriptions_page_title h3 {
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .save_btn {
    width: 100%;
  }
  .profile_page_left {
    padding-bottom: 30px;
  }
  .twopoint_auth {
    flex-direction: column;
    align-items: start;
  }
  .twopoint_auth_active {
    padding-left: 0 !important;
  }
  .css-b62m3t-container {
    width: 100%;
    height: 40px;
  }

  .confudency_top input {
    width: 17px;
    height: 17px;
  }
  .settings_profile_chex .information_item_left,
  .settings_profile_chex_title p {
    padding-left: 0;
  }
  .settings_profile_chex .information_item {
    gap: 10px;
  }
  .settings_profile_chex .information_item_left {
    width: 100%;
  }
  .signature_page {
    padding: 0;
  }
  .signature_page_textarea {
    height: 210px;
  }
  .subscriptions_page_cards {
    display: flex;
    flex-wrap: wrap;
  }
  .profile_page_right {
    padding: 30px 20px;
  }
}
