nav {
  width: 100%;
  box-shadow: 0px 6px 30px 0px rgba(50, 94, 251, 0.2);
  background: rgb(255, 255, 255);
  padding: 20px 0;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_menu,
.nav_left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav_menu a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav_menu p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.nav_right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search_input {
  width: 236px;
  height: 40px;
  font-family: Open Sans;
  box-sizing: border-box;
  /* button */
  text-indent: 18px;
  background: #f8f8f8;
  border: none;
  border-radius: 10px;
}
.search_input:focus {
  width: 300px;
}

.nav_right_actions {
  display: flex;
  align-items: center;
}
.nav_profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav_right_actions svg {
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: #00000057;
  z-index: 111;
  position: fixed;
  top: 0;
}
.nav_mails {
  position: relative;
}
.nav_menu .active p {
  color: rgb(47, 116, 250);
}
.active_line {
  width: 87px;
  height: 4px;
  background: rgb(47, 116, 250);
  position: absolute;
  bottom: -31px;
}
.nav_desc_link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav_desc_link:hover p {
  color: rgb(47, 116, 250);
}
.nav_desc_link:hover .active_line {
  display: block;

}
.nav_desc_link .active_line {
  display: none;
}
.nav_menu .active .active_line {
  display: block;
}
.nav_menu .active svg * {
  fill: rgb(47, 116, 250);
}
.nav_bar_drop {
  border-radius: 10px 10px 30px 30px;
  position: absolute;
  right: -30px;
  top: 60px;
  z-index: 112;
  box-shadow: 0px 6px 30px 0px rgba(50, 94, 251, 0.2);
  background: rgb(255, 255, 255);
  width: 328px;
}

.nav_bar_drop_title {
  border-radius: 10px 10px 0px 0px;
  padding: 15px 23px;
  /* 1 */
  box-shadow: 0px 6px 30px 0px rgba(50, 94, 251, 0.2);
  background: rgb(47, 116, 250);
}
.nav_bar_drop_title p {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.nav_bar_drop_content {
  padding: 22px 23px 27px;
}
.nav_bar_drop_content_top {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.not_drop_content{
  transition: all 0.4s ease;
  cursor: pointer;
}
.not_drop_content:hover,
.nav_bar_drop_content_top:hover {
  opacity: 0.7;
}
.nav_bar_drop_content_top p {
  color: rgb(120, 120, 120);
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 5px;
}
.nav_bar_drop_content_top p:first-child {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.nav_bar_drop_content_link p {
  color: rgb(47, 116, 250);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 14px;
}
.nav_bar_drop_content_link p:hover {
  text-decoration: none;
}

.nav_icon {
  width: 46px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav_icon_active {
  border-radius: 10px;
  position: relative;
  z-index: 122;
  /* 1 */
  box-shadow: 0px 6px 30px 0px rgba(50, 94, 251, 0.2);
  background: rgb(255, 255, 255);
}
.nav_notifications {
  position: relative;
}
.nots_drop {
  right: 0;
}
.not_drop_content_top div {
  width: 28px;
  height: 28px;
  background: linear-gradient(
    180deg,
    rgb(197, 210, 255),
    rgb(96, 130, 255) 100%
  );
  border-radius: 50%;
}
.not_drop_content_top {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 16px;
}
.not_drop_content_top p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.not_drop_content_items p {
  color: rgb(120, 120, 120);
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
}

.nav_profile {
  position: relative;
}
.nav_profile_drop {

  width: 200px;
  z-index: 112;
  position: absolute;
  top: 61px;
  right: 0;
  border-radius: 0px 0px 20px 20px;

  box-shadow: 0px 0px 16px 0px rgba(58, 100, 250, 0.03);
  background: rgb(255, 255, 255);
}

.nav_profile_drop_links {
  padding: 23px 23px 0;
}
.nav_profile_drop_links p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 15px;
  transition: all 0.4s ease;
}
.nav_profile_drop_links p:hover {
  transition: all 0.4s ease;
  opacity: 0.6;
}
.nav_profile_drop_links .active p {
  text-decoration: underline;
}
.nav_profile_drop_links p:first-child {
  margin-bottom: 23px;
}
.nav_profile_drop_logout {
  border-radius: 0px 0px 20px 20px;
  padding: 9px 0;
  background: rgb(237, 241, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 6px;
}
.filled_icon {
  display: none;
}
.nav_icon_active .filled_icon {
  display: block;
}
.nav_icon_active
.not_filled {
  display: none;
}
.nav_profile_drop_logout p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.nav_profile_items {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home_nav_link_link {
  display: flex;
  align-items: center;
  gap: 6px;
}
.home_nav_links {
  position: relative;
}
.home_nav_links_drop {
  border-radius: 0px 0px 30px 30px;
  padding: 30px 44px;
  position: absolute;
  z-index: 112;
  top: 50px;
  left: 0;
  width: 517px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  box-shadow: 0px 6px 30px 0px rgba(50, 94, 251, 0.2);
  background: rgb(255, 255, 255);
}

.home_nav_links_drop a {
  width: 220px;
}
.home_nav_links_drop p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.nav_mob_menu {
  display: none;
}

.nav_mob_menu_modal {
  width: 100%;
  background: rgb(255, 255, 255);
  padding-top: 32px;
  position: fixed;
  z-index: 1111;
  left: 0;
  top: 0;
  transition: all 0.4s ease;
  transform: translateY(-100%);
  min-height: 468px;
  padding-bottom: 60px;
}
.nav_mob_menu_modal_visible {
  transition: all 0.4s ease;
  transform: translateY(0);
}
.nav_mob_menu_list_top_link_visible .nav_mob_menu_list_top_link_item p {
  color: rgb(47, 116, 250);
}
.nav_mob_menu_list_top_link_visible .nav_mob_menu_list_top_link_item svg * {
  stroke: rgb(47, 116, 250);
}
.nav_mob_menu_list_top_link_visible .nav_mob_menu_list_top_link_item svg {
  transform: rotate(180deg);
}
.nav_mob_menu_top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 11;
  padding: 0 20px 0 10px;
  margin-bottom: 50px;
}
.nav_mob_menu_list p {
  color: rgb(39, 39, 39);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.nav_mob_menu_list .nav_mob_menu_list_item {
  padding-left: 20px;
  margin-bottom: 15px;
}
.nav_mob_menu_list_top_link_item {
  border-bottom: 1px solid rgb(240, 240, 240);
  padding-bottom: 6px;
  padding-left: 20px;
  margin-bottom: 8px;
}
.nav_mob_menu_list_top_link_item {
  display: flex;
  align-items: center;
  padding-right: 25px;
  justify-content: space-between;
}
.search_input_mob_menu {
  padding: 0 18px;
  margin-top: 15px;
}
.search_input_mob_menu input {
  width: 100%;
}
.nav_mob_menu_list_top_link_menu {
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 5px;
}
.nav_mob_menu_list_top_link_menu p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media only screen and (max-width: 980px) {
  .nav_left .nav_menu {
    display: none;
  }
  .nav_right .search_input {
    display: none;
  }
  .nav_mob_menu {
    display: flex;
    cursor: pointer;
  }
  .nav_left {
    gap: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .nav_logo svg {
    width: 100px;
  }
}
